DVE-2017-0005: Google DNS returns incorrect response to EDNS(1)

# DVE-2017-0005: Google DNS returns incorrect response to EDNS(1)

## Description

Google DNS returns a packet with no Question section in contravention of [Section 7 of RFC 6891](https://tools.ietf.org/html/rfc6891#section-7) when it's sent a packet with an EDNS version other than 0.

> The minimal response MUST be the DNS header, question section, and an OPT record.  This MUST also occur when a truncated response (using the DNS header's TC bit) is returned.

## Evidence

```
% dig +noednsneg +edns=1 @8.8.8.8 . soa
; <<>> DiG 9.11.0 <<>> +noednsneg +edns=1 @8.8.8.8 . soa
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: BADVERS, id: 54428
;; flags: qr rd ra; QUERY: 0, ANSWER: 0, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 512
;; Query time: 6 msec
;; SERVER: 8.8.8.8#53(8.8.8.8)
;; WHEN: Thu Jan 26 11:42:30 GMT 2017
;; MSG SIZE  rcvd: 23
```

hexdump (from tcpdump)

```
11:42:30.397754 IP 8.8.8.8.53 > 10.1.2.5.39594: 54428 [0q] 0/0/1 (23)
	0x0000:  4500 0033 afd2 0000 3d11 b1d2 0808 0808  E..3....=.......
	0x0010:  0a01 0205 0035 9aaa 001f c999 d49c 8180  .....5..........
	0x0020:  0000 0000 0000 0001 0000 2902 0001 0000  ..........).....
	0x0030:  0000 00  
```
## Proposed fix

Fix implementation to include the question section

## Workaround

None

## Metadata

Submitter: Ray Bellis
Tags: edns

Since the format have not been decided yet could you provide the answer as raw hex string?

@DNS-OARC/dve-maintainers reserved as DVE-2017-0005

@raybellis I think @jelu meant the format of the report (which is now more formalized), so providing `hexdump -C` in addition to `dig` output might be a good idea, see https://github.com/DNS-OARC/dns-violations/blob/master/2017/DVE-2017-0007.md

Done (and updated the issue report), although FWIW I don't think the hexdump adds anything in this case - the `dig` output clearly shows the issue.

Easier to parse hexdump then to rebuild the packet from a specific program output